body {
    background-color: #eee;
}

.welcome {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
}

.idk {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-signup-btn {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 5px;
    cursor: pointer;
    color: #000 !important;
    background: #04c253 !important;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    justify-content: right;
}