body {
    background-color: azure;
}

:root{
    --mainColor: #AEDD97;
    --mainColorLight: #43d181;
    --secondaryColor: #ca1616;
    --textColor: #ffffff;
}

.welcome {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
}

.idk {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-signup-btn {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 5px;
    cursor: pointer;
    color: #000 !important;
    background: var(--mainColor) !important;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    justify-content: right;
}

.home,
.mission,
.services,
.contact,
.rest {
    min-height: 100vh;
    text-align: center;
    margin-top: 80px;
}

.home {
    background-color: azure;
}

.mission {
    background-color: var(--mainColor);
    color: azure;
}

.services {
    background-color: azure;
}

.contact {
    background-color: var(--mainColor);
}

html {
    scroll-behavior: smooth;
}