h1{
    text-align: center;
    padding-bottom: 0px;
}

.add-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 5px;
  }

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table tr{
    border-radius: 10px;
  }

  th{
    background-color: #AEDD97;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr{
    border-radius: 25px;
  }
  
  tr:nth-child(even) {
    background-color: #AEDD97;
  }

  tr:nth-child(odd) {
    background-color: #FFFFFF;
    border: #AEDD97;
  }

  /* Form styles */
  .form-container {
    display: none;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .form-container input[type=text], .form-container select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .form-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-container input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form-container .cancel-btn {
    background-color: #ff5555;
  }
  
  .form-container .cancel-btn:hover {
    background-color: #ff1a1a;
  }
  
  /* Button styles */
  button {
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: #AEDD97;
    color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }

  .table-div{
    padding: 20px;
  }

  .head-name{
    font-size: 40px;
  }

  .head-div{
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    align-items: stretch;
  }

  .add-btn{
    padding-left: 3px;
  }

  .fa{
    height: 30px;
    width: 30px;
  }

  .transaction-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 3px solid #AEDD97;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    margin-top: 100px;
    border-radius: 25px;  
  }

  .transaction-container{
    position: relative;
  }

  .del-btn{
    background-color: #333 !important;
  }

  .del-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }

  .income{
    color: green;
  }

  .trans-btn-div{
    display: flex;
    flex-direction: column;
  }